*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Colors- 
background = hsl(233, 47%, 7%)
main = hsl(244, 38%, 16%)
roxo = hsl(277, 64%, 61%)
*/

body{
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border: 2px solid hsl(244, 38%, 16%);
    padding: 30px 40px;
    width: 40%;
    min-width: 500px;
}

.new-task-container{
    background-color: hsl(244, 38%, 16%);
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3 );
    display: flex;
}

.new-task-container input{
    flex: 3;
    font-size: 1rem;
    border: 2px solid #d1d3d4;
    border-radius: 8px;
    padding: 12px;
    font-weight: 500;
}

.new-task-container input:focus{
    outline: none;
    border-color: hsl(277, 59%, 48%);
}

.new-task-button{
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: hsl(277, 59%, 48%);
    color: #fff;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
}

.tasks-container{
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3 );
    width: 100%;
}

/* utilities */

.error{
    border: 2px solid red !important;
}

.error::placeholder{
    color: red;
}
